<div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom"> Name </h3>
                    <p class="uk-text-meta uk-margin-remove-top"> || role || </p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <ul class="uk-list uk-list-none uk-text-right">
                <li>ID: id </li>
                <li>Email: <a href="mailto: email"> email </a></li>
                <li>GitHub: <a href="https://github.com/gitHubUsername" target="_blank" rel="noopener noreferrer"> gitHubUsername </a></li>
            </ul>
        </div>
    </div>
</div>